[run]
source = .
omit = 
    */tests/*
    */venv/*
    */.venv/*
    */site-packages/*
    setup.py
    */migrations/*
    */__pycache__/*
    */terraform/*
    */sql/*

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov

[xml]
output = coverage.xml